{{ attach_library('doljak_theme/hero-styling') }}                                                                                                                                                 
                                          
  {% if content %}                                                                                                                                                                                  
    <section{{ attributes.addClass('region-hero') }}>                                                                                                                                               
      {{ content }}                                                                                                                                                                                 
    </section>                                                                                                                                                                                      
  {% endif %}  